name: OnePlus 13T Kernel Build

on:
  workflow_dispatch:
    inputs:
      pull_kernel_src:
        description: "是否拉取远程内核源码(否则使用缓存)"
        required: false
        type: boolean
        default: false
      Apply_SCHED:
        description: "是否添加风驰驱动"
        required: false
        type: boolean
        default: false
      better_net:
        description: "是否开启网络功能增强配置"
        required: false
        type: boolean
        default: false
      baseband_guard:
        description: "是否开启内核级基带保护"
        required: true
        type: boolean
        default: false

jobs:
  build:
    name: OnePlus 13T Kernel Build
    runs-on: ubuntu-latest
    env:
      CCACHE_COMPILERCHECK: "none"
      CCACHE_COMPRESS: "1"
      CCACHE_NOHASHDIR: "true"
      CCACHE_HARDLINK: "true"
      CCACHE_DIR: ${{ github.workspace }}/.ccache_oneplus_13t
      CCACHE_MAXSIZE: "3G"

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get install -y --no-install-recommends libelf-dev tree dos2unix ccache

      - name: Cache prebuilts (clang & build-tools)
        id: prebuilts-cache
        uses: actions/cache@v4
        with:
          path: |
            kernel_workspace/kernel_platform/prebuilts/clang/host/linux-x86/clang-r510928
            kernel_workspace/kernel_platform/prebuilts/kernel-build-tools/linux-x86
          key: prebuilts-${{ runner.os }}-v1

      - name: Cache kernel source
        id: kernel-src-cache
        uses: actions/cache@v4
        with:
          path: kernel_workspace/kernel_platform/common
          key: kernel-src-v6.6.89
          restore-keys: 
            kernel-src-v6.6.89

      - name: Cache ccache
        id: ccache-cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-${{ runner.os }}-oneplus-13t-v1
          restore-keys: 
            ccache-${{ runner.os }}-oneplus-13t-v1-

      - name: Configure Git and repo
        run: |
          git config --global user.email "bot@kernelsu.org"
          git config --global user.name "KernelSUBot"
          curl https://storage.googleapis.com/git-repo-downloads/repo > ~/repo
          chmod a+x ~/repo
          sudo mv ~/repo /usr/local/bin/repo

      - name: Initialize repo and sync
        run: |
          mkdir -p kernel_workspace && cd kernel_workspace
          repo init -u https://github.com/OnePlusOSS/kernel_manifest.git \
            -b refs/heads/oneplus/sm8750 -m oneplus_13t_b.xml --depth=1

          if [ "${{ inputs.pull_kernel_src }}" = "true" ] || \
             [ "${{ steps.kernel-src-cache.outputs.cache-hit }}" = "false" ]; then
            repo sync kernel_platform/common \
              -c --force-sync --optimized-fetch --prune --no-tags --no-clone-bundle \
              -j$(nproc --all)
          fi

          if [ "${{ steps.prebuilts-cache.outputs.cache-hit }}" = "false" ]; then
            repo sync kernel_platform/prebuilts/clang/host/linux-x86 \
                      kernel_platform/prebuilts/kernel-build-tools \
              -c --force-sync --optimized-fetch --prune --no-tags --no-clone-bundle \
              -j$(nproc --all)
          fi

          rm kernel_platform/common/android/abi_gki_protected_exports_* || echo "No protected exports!"

      # OGKI 转换 GKI，无需修改 dtbo 开机
      - name: Apply Convert HMBIRD_OGKI to HMBIRD_GKI
        if: ${{ !inputs.Apply_SCHED }}
        run: |
          cp hmbird_patch.c kernel_workspace/kernel_platform/common/drivers/
          cd kernel_workspace/kernel_platform/common/drivers
          if ! grep -q "hmbird_patch.o" Makefile; then
            echo "obj-y += hmbird_patch.o" >> Makefile
          fi

      - name: Apply SCHED
        if: ${{ inputs.Apply_SCHED }}
        run: |
          git clone https://github.com/Numbersf/SCHED_PATCH.git -b sm8750
          dos2unix SCHED_PATCH/fengchi_oneplus_13t_b.patch
          patch -d kernel_workspace/kernel_platform/common -p1 -F 3 < SCHED_PATCH/fengchi_oneplus_13t_b.patch

      - name: Setup KSU
        run: |
          cd kernel_workspace/kernel_platform
          curl -LSs "https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh" | bash -
          cd KernelSU
          COMMIT_HASH=$(git rev-parse --short HEAD)
          COMMIT_DATE=$(git log -1 --format=%cd --date=short)

          echo "=== KernelSU Version Information ==="
          echo "Commit Hash: $COMMIT_HASH"
          echo "Commit Date: $COMMIT_DATE"

      - name: Add iptables extensions
        if: ${{ inputs.better_net }}
        run: |
          cd kernel_workspace/kernel_platform/common
          {
            echo "CONFIG_BPF_STREAM_PARSER=y"
            echo "CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=y"
            echo "CONFIG_NETFILTER_XT_SET=y"
            echo "CONFIG_IP_SET=y"
            echo "CONFIG_IP_SET_MAX=65534"
            echo "CONFIG_IP_SET_BITMAP_IP=y"
            echo "CONFIG_IP_SET_BITMAP_IPMAC=y"
            echo "CONFIG_IP_SET_BITMAP_PORT=y"
            echo "CONFIG_IP_SET_HASH_IP=y"
            echo "CONFIG_IP_SET_HASH_IPMARK=y"
            echo "CONFIG_IP_SET_HASH_IPPORT=y"
            echo "CONFIG_IP_SET_HASH_IPPORTIP=y"
            echo "CONFIG_IP_SET_HASH_IPPORTNET=y"
            echo "CONFIG_IP_SET_HASH_IPMAC=y"
            echo "CONFIG_IP_SET_HASH_MAC=y"
            echo "CONFIG_IP_SET_HASH_NETPORTNET=y"
            echo "CONFIG_IP_SET_HASH_NET=y"
            echo "CONFIG_IP_SET_HASH_NETNET=y"
            echo "CONFIG_IP_SET_HASH_NETPORT=y"
            echo "CONFIG_IP_SET_HASH_NETIFACE=y"
            echo "CONFIG_IP_SET_LIST_SET=y"
            echo "CONFIG_IP6_NF_NAT=y"
            echo "CONFIG_IP6_NF_TARGET_MASQUERADE=y"
          } >> ./arch/arm64/configs/gki_defconfig

      - name: Setup Baseband-guard
        if: ${{ inputs.baseband_guard }}
        run: |
          cd kernel_workspace/kernel_platform/common
          curl -LSs "https://github.com/vc-teahouse/Baseband-guard/raw/main/setup.sh" | bash
          echo "CONFIG_BBG=y" >> ./arch/arm64/configs/gki_defconfig
          sed -i '/^config LSM$/,/^help$/{ /^[[:space:]]*default/ { /baseband_guard/! s/lockdown/lockdown,baseband_guard/ } }' security/Kconfig

      - name: Other tasks
        run: |
          cd kernel_workspace/kernel_platform/common
          # 跳过将 uapi 标准头安装到 usr/include 目录的不必要操作，节省编译时间
          echo "CONFIG_HEADERS_INSTALL=n" >> ./arch/arm64/configs/gki_defconfig
          # 开启 O2 编译优化配置
          echo "CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y" >> ./arch/arm64/configs/gki_defconfig
          # 禁用 defconfig 检查
          sed -i 's/check_defconfig//' ./build.config.gki

      - name: Rename make name
        run: |
          cd kernel_workspace/kernel_platform/common
          sed -i 's/${scm_version}//' ./scripts/setlocalversion
          sed -i 's/-4k//g' ./arch/arm64/configs/gki_defconfig

      - name: Build Kernel
        run: |
          cd kernel_workspace/kernel_platform/common
          export PATH="$GITHUB_WORKSPACE/kernel_workspace/kernel_platform/prebuilts/clang/host/linux-x86/clang-r510928/bin:$GITHUB_WORKSPACE/kernel_workspace/kernel_platform/prebuilts/kernel-build-tools/linux-x86/bin:$PATH"

          mkdir -p "${{ env.CCACHE_DIR }}"
          ccache -M "${{ env.CCACHE_MAXSIZE }}"

          ccache -z
          echo "=== 构建前 CCache 状态 ==="
          ccache -s

          make -j$(nproc --all) LLVM=1 ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- \
          CC="ccache clang" PAHOLE=pahole LD=ld.lld HOSTLD=ld.lld \
          O=out gki_defconfig

          make -j$(nproc --all) LLVM=1 ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- \
          CC="ccache clang" PAHOLE=pahole LD=ld.lld HOSTLD=ld.lld KCFLAGS+=-O2 KCFLAGS+=-Wno-error \
          O=out Image

          git restore . || true
          git clean -fd || true

          echo "=== 构建后 CCache 状态 ==="
          ccache -s

      - name: Make AnyKernel3
        run: |
          git clone https://github.com/Kernel-SU/AnyKernel3.git --depth=1
          cp kernel_workspace/kernel_platform/common/out/arch/arm64/boot/Image ./AnyKernel3/
          # tree kernel_workspace/kernel_platform/common/out/arch/arm64/ > ./AnyKernel3/tree.txt || true

      - name: Upload AnyKernel3
        uses: actions/upload-artifact@v4
        with:
          name: PKX110_AnyKernel3_ksu${{ inputs.Apply_SCHED && '_sched' || '' }}${{ inputs.better_net && '_ipt' || '' }}${{ inputs.baseband_guard && '_bbg' || '' }}
          path: ./AnyKernel3/*

      - name: Force Save Ccache
        uses: actions/cache/save@v4
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-${{ runner.os }}-oneplus-13t-v1-${{ github.run_id }}
